/***** Global Styles *****/

/***** End Global Styles *****/

/***** Navbar Styles *****/


/***** End Navbar Styles *****/

/***** Header Styles *****/

/***** End Header Styles *****/

/***** Testmonial Styles *****/


/***** End Testmonial Styles *****/


/***** Services Styles *****/ 

/***** End Services Styles *****/

a{
    text-decoration: none !important;
    
}
body{
    background-color: #E3EBF0;
}
.logo{
    color: #2062A3;
}

.border{
    border-radius: 30px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar{
    background-color: #E3EBF0 !important;
}

.navbar-collapse{
  
   width: 40% !important;
   
}
.div{
    width: 30% !important;
}
.nav-link{
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    padding: 8px 15px !important;
    transition: 0.3s;
    border-radius: 20px !important;
}
.nav-link:hover{
    color: #2062A3 !important;
    transition: 0.3s;
    background-color: #2061a344;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}

.container-sec1{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  
}
.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 60px !important;
    margin-top: 100px;

}
.content{
/* border: .0625rem solid #0000001f !important; */
margin-top: 10px !important;
width:50% !important;

}


.content span{
    color: #2062A3 !important;
    font-weight: 800 !important;

    font-size: 60px !important;
}
.content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}
.iamge{
    width: 50% !important;
    margin-top: 120px !important;
}
.iamge img{
    width: 100% !important;
    border-radius: 20px !important;
}

.campany-content {
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    color: #4b4b4bb8 !important;
    
}

.company-logo{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 30%;
}

.company-logo a{
    color: #4b4b4bb8 !important;
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;

}

.services-content{
    width: 40% !important;
    /* border: 1px solid #0000001f !important; */
    margin: auto;
}
.services-content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;

}
 .services-content span{
    color: #2062A3 !important;
    font-size: 15px !important;
 }

 .services-content h2{
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    font-weight: 800;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    color: #000000 !important;
 }
 
.card-flex{
    width: 32% !important;
    border-radius: 20px !important;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-flex .icon{
    font-size: 30px !important;
    color: #2062A3 !important;
    /* margin-top: 20px !important; */
    border: .0625rem solid #0000001f !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center !important;
    /* padding: 50px !important; */
    padding-top: 5px !important;
    background-color: #2061a358;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-flex .icon:hover{
    background-color: #2062A3 !important;
    color: white !important;
    transition: 0.3s;
}
.card-flex h3{
    font-family: 'Roboto', sans-serif !important;
  
    font-weight: 700 !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    color: #000000 !important;
}
.card-flex p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    /* margin-top: 10px !important;
    margin-bottom: 10px !important; */
    line-height: 1.6 !important;
    color: #4b4b4bb8 !important;
}
.card-flex:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.199);
    transform: translateY(-10px);
    /* transition: 0.5s; */
}


.card-flex:hover .icon{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.199);
    transform:scale(1.2)
    /* transition: 0.5s; */






}


.img-sec4{
    width: 50% !important;
    margin-top: 100px;
}
.img-sec4 img{
    width: 100% !important; 
    border-radius: 20px !important;
    border: 1px solid #0000001f !important;
    height: 400px !important;
    
}


.content-sec4{
    width: 45% !important;
}

.content-sec4 h2{
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    font-weight: 800;
    /* margin-top: 20px !important;
    margin-bottom: 5px !important; */
    color: #000000 !important;

}

.content-sec4 .p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    /* margin-top: 20px !important;
    margin-bottom: 20px !important; */
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}
.content-sec4 span{
    color: #2062A3 !important;
    font-size: 15px !important;
}

.card-sec4 .icon{
    font-size: 20px !important;
    color: #2062A3 !important;
    /* margin-top: 20px !important; */
    border: .0625rem solid #0000001f !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center !important;
    /* padding: 50px !important; */
    padding-top: 5px !important;
    background-color: #2061a32a;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-sec4 h2{
    margin: 0px !important;
}

.card-sec4 p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    /* margin-top: 20px !important;
    margin-bottom: 20px !important; */
   
    color: #4b4b4bb8 !important;
    margin: 0px !important;
    padding: 0px !important ;
}


.sec5-flex{
    background-color: #bae0f486;
    border-radius: 20px;
}

.sec5-flex h2{
    color: #186ec4 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    font-weight: 800 !important;

}
.sec5-flex p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    /* margin-top: 20px !important;
    margin-bottom: 20px !important; */
    /* line-height: 1.8 !important; */
    color: #4b4b4bb8 !important;
}
.sec6-content{
    background-color: #205790 !important;
    border-radius: 20px !important;
    margin-top: 150px !important;
}
.sec6-content h2{
    color: white !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    font-weight: 800 !important;
}
.sec6-content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    /* margin-top: 20px !important;
    margin-bottom: 20px !important; */
    /* line-height: 1.8 !important; */

    color: rgba(255, 255, 255, 0.819) !important;
}

.sec6-content a{
    background-color: #ffffff !important;
    color: #205790 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 15px 24px !important;
    border-radius: 10px;
    text-decoration: none !important;
}
















    /* font-size: 25px !important; */
/***** About Style *****/

.about{
   
    margin-top: 200px;
}






@media screen and (min-width:1000px) and (max-width:1250px) {



.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 40px !important;
    margin-top: 100px;

}
.content{
/* border: .0625rem solid #0000001f !important; */
margin-top: 10px !important;
width:50% !important;

}


.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 40px !important;
}


.content{
/* border: .0625rem solid #0000001f !important; */
margin-top: 10px !important;
width:50% !important;

}

.card-flex{
    width: 31% !important;
    border-radius: 20px !important;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.img-sec4{
    width: 47% !important;
    margin-top: 100px;
}




















}




@media screen and (min-width:600px) and (max-width:1000px) {


.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 40px !important;
    margin-top: 100px;

}
.content{
/* border: .0625rem solid #0000001f !important; */
margin-top: 10px !important;
width:100% !important;
text-align: center !important;

}


.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 40px !important;
}


  .container-sec1{
        display: flex;
        flex-wrap: wrap;
    }

.iamge{
    width: 100% !important;
    margin-top: 50px !important;
}
.iamge img{
    width: 100% !important;
    border-radius: 20px !important;
}

.bottons{

margin-left: 120px

}
.content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}


.card-flex{
    width: 48% !important;
    border-radius: 20px !important;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.img-sec4{
    width: 97% !important;
    margin-top: 100px;
}

.content-sec4{
    width: 97% !important;
}



















}







@media screen and (max-width:600px) {

    .container-sec1{
        display: flex;
        flex-wrap: wrap;
    }

.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 25px !important;
    margin-top: 100px;

}
.content{
/* border: .0625rem solid #0000001f !important; */
margin-top: 10px !important;
width:100% !important;
text-align: center !important;

}



.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 25px !important;
}

.content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}

.navbar-collapse{
  
   width: 40% !important;
   
}

.div-logo{
    width: 60% !important;
}

.div-logo a{
    font-size: 20px !important;
}
.div-logo img{
    width: 70px !important;








}



.bottons{
    flex-direction: column !important;
    align-items: center !important;
}
.bottons a{
    margin-bottom: 10px !important;
    width: 90% !important;
    margin-left: 0px !important;
}


.iamge{
    width: 100% !important;
    margin-top: 50px !important;
}
.iamge img{
    width: 100% !important;
    border-radius: 20px !important;
}


.card-flex{
    width: 98% !important;
    border-radius: 20px !important;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.img-sec4{
    width: 97% !important;
    margin-top: 100px;
}

.content-sec4{
    width: 97% !important;
}

.sec6-content h2{
    color: white !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px !important;
    font-weight: 800 !important;
}


.sec5-flex .item{
    width: 45% !important;
}

}