/***** Global Styles *****/

/***** End Global Styles *****/

/***** Navbar Styles *****/


/***** End Navbar Styles *****/

/***** Header Styles *****/

/***** End Header Styles *****/

/***** Testmonial Styles *****/


/***** End Testmonial Styles *****/


/***** Services Styles *****/ 

/***** End Services Styles *****/
body{
    background-color: #E3EBF0;
}
.logo{
    color: #2062A3;
}

.border{
    border-radius: 30px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar{
    background-color: #E3EBF0 !important;
}

.navbar-collapse{
  
   width: 40% !important;
   
}
.div{
    width: 30% !important;
}
.nav-link{
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    padding: 8px 15px !important;
    transition: 0.3s;
    border-radius: 20px !important;
}
.nav-link:hover{
    color: #2062A3 !important;
    transition: 0.3s;
    background-color: #2061a344;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}
.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 60px !important;
    margin-top: 100px;

}
.content{
border: .0625rem solid #0000001f !important;
margin-top: 10px !important;
width:50% !important;

}


.content span{
    color: #2062A3 !important;
    font-weight: 800 !important;

    font-size: 60px !important;
}
.content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}

/***** About Style *****/

.about{
   
    margin-top: 200px;
}






@media screen and (min-width:1000px) and (max-width:1250px) {



.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 40px !important;
    margin-top: 100px;

}
.content{
border: .0625rem solid #0000001f !important;
margin-top: 10px !important;
width:50% !important;

}


.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 40px !important;
}







}




@media screen and (min-width:600px) and (max-width:1000px) {


.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 40px !important;
    margin-top: 100px;

}
.content{
border: .0625rem solid #0000001f !important;
margin-top: 10px !important;
width:100% !important;
text-align: center !important;

}


.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 40px !important;
}



}







@media screen and (max-width:600px) {


.content h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400 !important;
    letter-spacing: 4px;
   font-size: 25px !important;
    margin-top: 100px;

}
.content{
border: .0625rem solid #0000001f !important;
margin-top: 10px !important;
width:100% !important;
text-align: center !important;

}



.content span{
    color: #2062A3 !important;
    font-weight:700 !important;

    font-size: 25px !important;
}

.content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.8 !important;
    color: #4b4b4bb8 !important;
}

.navbar-collapse{
  
   width: 40% !important;
   
}

.div-logo{
    width: 60% !important;
}

.div-logo a{
    font-size: 20px !important;
}
.div-logo img{
    width: 70px !important;







}



















}